:root {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

svg text{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dotPro {
    fill: #ADADAD;
    cursor: pointer;
}

.dotPro_selected {
    fill: #00A372;
    cursor: pointer;
}

.dotSkill{
    fill: #FFD4AD;
    cursor: pointer;
}

.dotSkill_selected {
    fill: #FF7A00;
    cursor: pointer;
}

.textSkill,
.textSkill_selected,
.textPro,
.textPro_selected {
    font-weight: bold;
    font-size: 10.6667px;
    font-family: Arial;
    text-align: center;
}

.textPro {
    color: #3A3A3A;
    animation: smoother3 1s;
    animation-fill-mode: forwards;
}

.textPro_selected {
    color: #3A3A3A;
    animation: smoother4 1s;
    animation-fill-mode: forwards;
}

.path,
.pathOther {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: transparent;
    stroke-width: 2.5;
}

.path {
    stroke: #FF7A00;
    animation: dash 1.5s linear forwards;
}

.pathOther {
    stroke: #8F59B9;
    animation: dash 1.5s linear forwards;
}

.textSkill {
    color: #ADADAD;
    animation: smoother2 1s;
    animation-fill-mode: forwards;
}

.textSkill_selected {
    color: #3A3A3A;
    animation: smoother 1s;
    animation-fill-mode: forwards;
}

#circleArea {
    display: flex;
    justify-content: center;
}

#proRing,
#skillRing {
    fill: #FFFFFF;
    cursor: pointer;
}

#skillRing {
    stroke: #FF7A00;
    animation: change_r_Skill 0.1s;
    animation-fill-mode: forwards;
}

#proRing {
    stroke: #00A372;
    animation: change_r_pro 0.1s;
    animation-fill-mode: forwards;
}

#rectPro {
    fill: #FFFFFF;
    opacity: 0.7;
    stroke: #F4F4F4;
    stroke-width: 1.5;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes smoother {
    from {
        opacity: 0.5;
    }
    to {
        opacity:1;
    }
}

@keyframes smoother2 {
    from {
        opacity: 0.5;
    }
    to {
        opacity:1;
    }
}

@keyframes smoother3 {
    from {
        opacity: 0.5;
    }
    to {
        opacity:1;
    }
}

@keyframes smoother4 {
    from {
        opacity: 0.5;
    }
    to {
        opacity:1;
    }
}

@keyframes change_r_Skill {
    from {
        r: 1;
    }
    to {
        r: 17;
    }
}

@keyframes change_r_pro {
    from {
        r: 1;
    }
    to {
        r: 16;
    }
}